<html>
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="Bootstrap Admin App + jQuery" />
<meta name="keywords"
	content="app, responsive, jquery, bootstrap, dashboard, admin" />
<title>云收藏 | 让收藏更简单</title>
<link rel="icon" href="/img/icon.ico" type="image/x-icon" />

<link rel="stylesheet"
	th:href="@{/vendor/fontawesome/css/font-awesome.min.css}"></link>
<link rel="stylesheet"
	th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}"></link>
<link rel="stylesheet" th:href="@{/media/css/bootstrap.css}" id="bscss"></link>
<link rel="stylesheet" th:href="@{/media/css/app.css}" id="maincss"></link>
<link rel="stylesheet" th:href="@{/media/css/theme-i.css}" id="maincss"></link>
</head>
<body>
	数据统计
	<p th:text="'Collect Size : '+ ${collectSize}" />
</body>
</html>
